* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.container {
  width: 400px;
  min-height: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(208, 198, 198, 0.09);
  border: 1px solid #cbc3c3;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.title {
  font-size: 50px;
  margin: 1rem 0;
}

.new-item-form {
  margin-bottom: 1.2rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

#item {
  margin-bottom: 0.2rem;
  width: 300px;
}

.btn {
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 4px;
}

.add-btn {
  width: 300px;
}

.checkbox-container {
  width: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem auto;
}

label {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #333;
}

.checkbox-container input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-img {
  height: 30px;
  width: 30px;
  border: 1px solid #333;
  border-radius: 4px;
}

.btn-delete {
  width: 60px;
  padding: 0 0.2rem;
}
